---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Not Found">
  <div class="container">
    <p class="font-sans text-2xl my-3 text-center">
      La página no existe o ha sido movida
    </p>
    <p>
      <img src="/assets/404.gif" class="mx-auto max-h-full" loading="lazy" />
    </p>
  </div>
</MainLayout>
