---
import MainLayout from "../layouts/MainLayout.astro";

import JobPreview from "../components/JobPreview.astro";
import Heading from "../components/Heading.astro";

const jobs = (await Astro.glob("./jobs/**/*.md"))
  .filter(({ frontmatter }) => !!frontmatter.from)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.from).valueOf() -
      new Date(a.frontmatter.from).valueOf()
  );

const description =
  "Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales estuve desarrollando aplicaciones web con C#, por lo que tengo un alto conocimiento sobre arquitectura backend.";
---

<MainLayout title="Sobre mi | José María Santos" description={description}>
  <Heading bgImage="/assets/about.webp">
    <span slot="title">Sobre mi</span>
  </Heading>
  <div class="p-5 container mx-auto text-lg dark:text-slate-300">
    <div class="max-w-auto m-12">
      <p class="my-2">
        Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales
        estuve desarrollando aplicaciones web con C#, por lo que tengo un alto
        conocimiento sobre arquitectura backend.
      </p>

      <p class="my-2">
        Durante mi vida laboral he tenido la oportunidad de desarrollar tanto
        proyectos ecommerce como aplicaciones web para la gestión y
        administración de empresas. Tengo experiencia en integración de
        servicios de terceros para la obtención de datos o sincronizanción de
        servicios.
      </p>

      <p class="my-2">
        Me considero una persona resolutiva e implicada en cada una de las
        tareas que realizo en mi día a día. Implicándome activamente en resolver
        problemas.
      </p>

      <p class="my-2">
        Tengo mucha curiosidad en investigar nuevas arquitecturas y técnicas
        modernas, intentando aplicarlas en mi día a día o haciendo pruebas de
        concepto personales para poder profundizar en su estudio.
      </p>

      <p class="my-2">
        Me gusta aprender y enseñar lo aprendido siempre que tengo ocasión
      </p>
    </div>

    <h2 class="font-bold text-xl mb-3">Curriculum</h2>
    <ol class="relative border-l border-gray-200 dark:border-slate-700">
      {
        jobs.map((job) => (
          <li class="mb-10 ml-4">
            <JobPreview job={job} />
          </li>
        ))
      }
    </ol>
  </div>
</MainLayout>
