---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="Sobre mi | José María Santos" description="Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales estuve desarrollando aplicaciones web con C#, por lo que tengo un alto conocimiento sobre arquitectura backend." />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				max-width: 100%;
  				height: auto;
				border-radius: 8px;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>Sobre mi</h1>
			<div class="heroImg">
				<img src="/assets/about.jpg" />
			</div>
			<div class="bio wrapper">
				Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales estuve desarrollando aplicaciones web con C#, por lo que tengo un alto conocimiento sobre arquitectura backend. <br /><br />

                Durante mi vida laboral he tenido la oportunidad de desarrollar tanto proyectos ecommerce como aplicaciones web para la gestión y administración de empresas. Tengo experiencia en integración de servicios de terceros para la obtención de datos o sincronizanción de servicios.<br /><br />

                Me considero una persona resolutiva e implicada en cada una de las tareas que realizo en mi día a día. Implicándome activamente en resolver problemas.<br /><br />

                Tengo mucha curiosidad en investigar nuevas arquitecturas y técnicas modernas, intentando aplicarlas en mi día a día o haciendo pruebas de concepto personales para poder profundizar en su estudio.<br /><br />

                Me gusta aprender y enseñar lo aprendido siempre que tengo ocasión<br />
			</div>
		</div>
		<Footer />
	</body>
</html>
