---
import MainLayout from "../layouts/MainLayout.astro";

import JobPreview from "../components/JobPreview.astro";

const jobs = (await Astro.glob("./jobs/**/*.md"))
  .filter(({ frontmatter }) => !!frontmatter.from)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.from).valueOf() -
      new Date(a.frontmatter.from).valueOf()
  );

const description =
  "Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales estuve desarrollando aplicaciones web con C#, por lo que tengo un alto conocimiento sobre arquitectura backend.";
---

<MainLayout title="Sobre mi | José María Santos" description={description}>
  <header
    class="h-40 md:h-60 overflow-hidden relative bg-[url('/assets/about.webp')] bg-no-repeat bg-bottom bg-fixed bg-cover"
  >
    <div
      class="pl-5 opacity-100 bg-gray-50 dark:bg-gray-800 h-full bg-opacity-50 dark:bg-opacity-50 flex flex-col justify-center"
    >
      <h1 class="font-extrabold md:text-md text-[2em]">Sobre mi</h1>
    </div>
  </header>
  <div class="p-5">
    <div class="max-w-auto m-12">
      <p>
        Arquitecto orientado al Frontend, aunque mis primeros 13 años laborales
        estuve desarrollando aplicaciones web con C#, por lo que tengo un alto
        conocimiento sobre arquitectura backend.
      </p>

      <p>
        Durante mi vida laboral he tenido la oportunidad de desarrollar tanto
        proyectos ecommerce como aplicaciones web para la gestión y
        administración de empresas. Tengo experiencia en integración de
        servicios de terceros para la obtención de datos o sincronizanción de
        servicios.
      </p>

      <p>
        Me considero una persona resolutiva e implicada en cada una de las
        tareas que realizo en mi día a día. Implicándome activamente en resolver
        problemas.
      </p>

      <p>
        Tengo mucha curiosidad en investigar nuevas arquitecturas y técnicas
        modernas, intentando aplicarlas en mi día a día o haciendo pruebas de
        concepto personales para poder profundizar en su estudio.
      </p>

      <p>Me gusta aprender y enseñar lo aprendido siempre que tengo ocasión</p>
    </div>

    <h2 class="font-bold text-xl mb-3">Curriculum</h2>
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      {
        jobs.map((job) => (
          <li class="mb-10 ml-4">
            <JobPreview job={job} />
          </li>
        ))
      }
    </ol>
  </div>
</MainLayout>
