---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

const presentations = (await Astro.glob("./presentations/**/*.md"))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<html lang="es">
  <head>
    <MainHead
      title="Proyectos | José María Santos"
      description="Porfolio de José María Santos"
    />
    <style>
      .grid {
        display: grid;
        grid-gap: 3rem;
      }
      .title {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <Nav />
    <div class="wrapper">
      <h1 class="title">Ponencias</h1>
      <div class="grid">
        {
          presentations.map((presentation) => (
            <PortfolioPreview project={presentation} />
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
