---
const { bgImage } = Astro.props;
---

<header
  class={`h-40 md:h-60 overflow-hidden relative bg-[url('${bgImage}')] bg-no-repeat bg-bottom bg-fixed bg-cover`}
>
  <div
    class="pl-5 opacity-100 bg-gray-50 dark:bg-gray-800 h-full bg-opacity-50 dark:bg-opacity-50 flex flex-col justify-center"
  >
    <h1 class="font-extrabold md:text-md text-[2em]"><slot name="title" /></h1>
  </div>
  <slot name="content" />
</header>
