---
import "../styles/global.css";
const {
  title = "José María Santos: Desarrollador Web",
  description = "El rincón de José María Santos",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  type="text/partytown"
  rel="preconnect"
  href="https://fonts.googleapis.com"
/>
<link
  type="text/partytown"
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>
<link
  type="text/partytown"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
  rel="stylesheet"
/>

<script is:inline>
  // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
  if (
    localStorage.getItem("theme") === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
