---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="José María Santos: Desarrollador Web"
      description="El rincón de José María Santos"
    />
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
